* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0f0f0f;
  color: white;
}

.conten{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.tulisan h1{
  max-width: 750px;
  text-align: center;
  font-size: 50px;
  padding: 25px;
}

.login-button {
  background-color: #e26a2d;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 34px;
  font-weight: bold;
  transition: background-color 0.3s;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.login-button a {
  text-decoration: none;
  color: white;
}
.login-button a:hover {
  color: #e26a2d;
}

.navbar .login-btn:hover {
  background-color: #e26a2d;
}

.login-button:hover {
  background-color: #ffffff;
}